.shoppingItemContainer {
    display: flex;
    justify-content: space-between;
    width: 25rem;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.1);
    text-align: start;
    margin: auto;
    margin-top: 0.5rem;
    cursor: pointer;
    transition: all 0.1s;
}

.shoppingItemContainer:hover {
    background: rgba(0, 0, 0, 0.15);
}

.shoppingItemContainer label {
    color: black;
}